<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.guitoubing.mapper.MessageMapper">
  <resultMap id="BaseResultMap" type="top.guitoubing.pojo.Message">
    <constructor>
      <idArg column="ID_" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="FROM_" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="TO_" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="CONTENT_" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="DATE_" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    ID_, FROM_, TO_, CONTENT_, DATE_
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from MESSAGE_
    where ID_ = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from MESSAGE_
    where ID_ = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="top.guitoubing.pojo.Message">
    insert into MESSAGE_ (ID_, FROM_, TO_, 
      CONTENT_, DATE_)
    values (#{id,jdbcType=DECIMAL}, #{from,jdbcType=DECIMAL}, #{to,jdbcType=DECIMAL}, 
      #{content,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="top.guitoubing.pojo.Message">
    insert into MESSAGE_
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID_,
      </if>
      <if test="from != null">
        FROM_,
      </if>
      <if test="to != null">
        TO_,
      </if>
      <if test="content != null">
        CONTENT_,
      </if>
      <if test="date != null">
        DATE_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="from != null">
        #{from,jdbcType=DECIMAL},
      </if>
      <if test="to != null">
        #{to,jdbcType=DECIMAL},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.guitoubing.pojo.Message">
    update MESSAGE_
    <set>
      <if test="from != null">
        FROM_ = #{from,jdbcType=DECIMAL},
      </if>
      <if test="to != null">
        TO_ = #{to,jdbcType=DECIMAL},
      </if>
      <if test="content != null">
        CONTENT_ = #{content,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        DATE_ = #{date,jdbcType=VARCHAR},
      </if>
    </set>
    where ID_ = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.guitoubing.pojo.Message">
    update MESSAGE_
    set FROM_ = #{from,jdbcType=DECIMAL},
      TO_ = #{to,jdbcType=DECIMAL},
      CONTENT_ = #{content,jdbcType=VARCHAR},
      DATE_ = #{date,jdbcType=VARCHAR}
    where ID_ = #{id,jdbcType=DECIMAL}
  </update>
  <resultMap id="BaseResultMap" type="top.guitoubing.pojo.Message">
    <constructor>
      <idArg column="ID_" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="FROM_" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="TO_" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="CONTENT_" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    ID_, FROM_, TO_, CONTENT_
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from MESSAGE_
    where ID_ = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from MESSAGE_
    where ID_ = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="top.guitoubing.pojo.Message">
    insert into MESSAGE_ (ID_, FROM_, TO_, 
      CONTENT_)
    values (#{id,jdbcType=DECIMAL}, #{from,jdbcType=DECIMAL}, #{to,jdbcType=DECIMAL}, 
      #{content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="top.guitoubing.pojo.Message">
    insert into MESSAGE_
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID_,
      </if>
      <if test="from != null">
        FROM_,
      </if>
      <if test="to != null">
        TO_,
      </if>
      <if test="content != null">
        CONTENT_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="from != null">
        #{from,jdbcType=DECIMAL},
      </if>
      <if test="to != null">
        #{to,jdbcType=DECIMAL},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.guitoubing.pojo.Message">
    update MESSAGE_
    <set>
      <if test="from != null">
        FROM_ = #{from,jdbcType=DECIMAL},
      </if>
      <if test="to != null">
        TO_ = #{to,jdbcType=DECIMAL},
      </if>
      <if test="content != null">
        CONTENT_ = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where ID_ = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.guitoubing.pojo.Message">
    update MESSAGE_
    set FROM_ = #{from,jdbcType=DECIMAL},
      TO_ = #{to,jdbcType=DECIMAL},
      CONTENT_ = #{content,jdbcType=VARCHAR}
    where ID_ = #{id,jdbcType=DECIMAL}
  </update>
</mapper>