<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.guitoubing.mapper.MomentLovedMapper">
  <resultMap id="BaseResultMap" type="top.guitoubing.pojo.MomentLovedKey">
    <constructor>
      <idArg column="USER_ID_" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <idArg column="MOMENT_ID_" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="top.guitoubing.pojo.MomentLovedKey">
    delete from MOMENT_LOVED_
    where USER_ID_ = #{userId,jdbcType=DECIMAL}
      and MOMENT_ID_ = #{momentId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="top.guitoubing.pojo.MomentLovedKey">
    insert into MOMENT_LOVED_ (USER_ID_, MOMENT_ID_)
    values (#{userId,jdbcType=DECIMAL}, #{momentId,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="top.guitoubing.pojo.MomentLovedKey">
    insert into MOMENT_LOVED_
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        USER_ID_,
      </if>
      <if test="momentId != null">
        MOMENT_ID_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="momentId != null">
        #{momentId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>